:root {
    --primary: #adff2f;
    --secundary: #
}

* {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: rgb(243, 243, 243);
    width: 30%;
}

input {
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-bottom: 20px;
}

#card {
    
}

.div1 > input {
    background-color: white;
    width: 100%;
    height: 40px;
}

.div2 > input {
    background-color: white;
    width: 100%;
    height: 40px;
}

.btn {
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

.btn:hover {
    background-color: var(--primary);
    color: white;
}